{% load static %}
<header>
    <nav class="nav-bar">
        <div class="logo">
            <h1> CYBORG HOME CENTER </H1>
        </div>

        <div class="nav-list">
            <ul>
                <li class="nav-item"><a href="{% url 'cyborg:index' %}" class="nav-link">HOME</a></li>
                <li class="nav-item"><a href="{% url 'cyborg:produtos' %}" class="nav-link">PRODUTOS</a></li>
                <li class="nav-item"><a href="{% url 'cyborg:index' %}" class="nav-link">CONTATO</a></li>
            </ul>
        </div>

        <div class="login-button">
            <button> <a href="#">ENTRAR</a></button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuShow()"> <img class="icon" src="{% static 'cyborg/images/menu.png' %}"></button>
        </div>
    </nav>

    <div class="mobile-menu">
        <ul>
            <li class="nav-item"><a href="{% url 'cyborg:index' %}" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="products.html" class="nav-link">PRODUTOS</a></li>
            <li class="nav-item"><a href="sobre.html" class="nav-link">CONTATO</a></button></li>
        </ul>

        <div class="login-button">
            <button> <a href="#">ENTRAR</a></button>
        </div>
    </div>
</header>
