{% extends "cyborg/base.html" %}
{% load static %}


{% block extra_head %}

    <link rel="stylesheet" href="{% static 'cyborg/css/products.css' %}">
    <script src="{% static 'cyborg/js/products.js' %}" defer></script>

{% endblock extra_head %}


{% block content %}
<div class="filters">
  <button class="filter-button" onclick="filterProducts('all')">Todos</button>
  <button class="filter-button" onclick="filterProducts('PROMOÇÃO')">Promoção</button>

<div class="container">
<!--
  <div class="product" data-category="tijolo">
    <img src="tijolo.jpeg" alt="Tijolo">
    <h2>Tijolo</h2>
    <p>Tijolo maciço comum para construção e acabamento.</p>
    <p>Preço: R$1,50</p>
  </div>

  <div class="product" data-category="cimento">
    <img src="cimento.jpeg" alt="cimento">
    <h2>Cimento</h2>
    <p>Cimento comum para construção e acabamento.</p>
    <p>Preço: R$30,50</p>
  </div>
-->

  {% for product in products_paginator  %}
    <div class="product
    
    " data-category="PROMOÇÃO">
    <img src="
    {% if product.image %}
    {{ product.image.url }}
    {% endif %} 
    "alt="">
    <h2 class="
    {% if product.off %}
    offer
    {% endif %}
    ">{{ product.name }}</h2>
    
    <p>{{ product.description }}</p>
    <p>Preço: R${{ product.price }}</p>
  </div>
  {% endfor %}



</div>

<div class="pagination">
    <span class="step-links">
        {% if products_paginator.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ products_paginator.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ products_paginator.number }} de {{ products_paginator.paginator.num_pages }}.
        </span>

        {% if products_paginator.has_next %}
            <a href="?page={{ products_paginator.next_page_number }}">próxima</a>
            <a href="?page={{ products_paginator.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}