{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyborg</title>
    <meta nome="keywords" content="cyborg">
    
    <link rel="stylesheet" href="{% static 'cyborg/css/style.css' %}">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <img src"{% static 'static/cyborg/images/menu.png' %}">

    <script src="{% static 'cyborg/js/script.js' %}" defer></script>

    {% block extra_head %}

    {% endblock extra_head %}

</head>
<body onresize="mudouTamanho()">
    {% include "cyborg/partials/header.html" %}
    {% block content %}
    {% endblock content %}

</body>

</html>